.rating-card {
  padding: 0.5rem 5vw 0.5rem 5vw;

  display: grid;
  grid-template-columns: 1fr 5fr;

  align-items: center;
}

.rating-card svg {
  float: left;
}

.name {
  font: var(--font-montserrat-black);
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

.text {
  font: var(--font-titillium-regular);
  font-size: 1.5rem;
  color: var(--color-gray-light);
  text-align: start;
}

@media only screen and (width <= 900px) {
  .rating-card {
    grid-template-columns: 1fr;
  }

  .rating-card,
  .rating-card * {
    font-size: 1.25rem;
  }
}
