.info {
  padding-left: 5vw;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.info ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  align-items: center;
  justify-items: start;
}

.info li {
  font: var(--font-montserrat-semibold);
  font-size: 1.5rem;
  margin-bottom: 5vh;
}

.icon1 {
  grid-area: 1 / 1 / 2 / 2;
}
.icon2 {
  grid-area: 2 / 1 / 3 / 2;
}
.icon3 {
  grid-area: 3 / 1 / 4 / 2;
}
.icon4 {
  grid-area: 4 / 1 / 5 / 2;
}
.icon5 {
  grid-area: 5 / 1 / 6 / 2;
}
.item6 {
  grid-area: 1 / 2 / 2 / 3;
}
.item7 {
  grid-area: 2 / 2 / 3 / 3;
  cursor: pointer;
}
.item8 {
  grid-area: 3 / 2 / 4 / 3;
}
.item9 {
  grid-area: 4 / 2 / 5 / 3;
}
.item10 {
  grid-area: 5 / 2 / 6 / 3;
}

.info svg {
  fill: var(--color-gray-light);
  min-width: 50px;
  min-height: 50px;
}

@media (width <= 900px) {
  .main * {
    margin: 0;
    padding: 0;
  }

  .info li {
    font-size: 1.25rem;
  }

  .info svg {
    min-width: 24px;
    min-height: 24px;
  }
}
