.skillbar {
  position: fixed;
  left: 0;
  bottom: 0;
  
  min-width: 5rem;
  width: 100%;
}

.skillbar ul {
  list-style-type: none;
  background: linear-gradient(90deg, rgba(37, 37, 37, 1) 0%, rgba(2, 0, 36, 0) 100%);
}

.skillbar li {
  padding-right: 2rem;
}

.skillbar svg{
  transform: translate(40%, 25%);
}

.skillbar span {
  padding-left: 2rem;
  font: var(--font-titillium-bold);
  font-size: 1rem;
}

/* Background gradients */
.bg-advanced {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(204, 92, 71, 1) 100%);
}
.bg-intermediate {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(204, 157, 56, 1) 100%);
}
.bg-beginner {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(101, 133, 158, 1) 100%);
}

@media only screen and (width <=900px) {
  .skillbar svg {
    display: none;
  }
  
  .skillbar span {
    font-size: 0.70rem;
  }
}