.main {
  padding-top: 10vh;
  animation: none;
}

.main span {
  color: var(--color-green);
}

.main svg {
  fill: var(--color-green);
  height: 50px !important;
  width: 50px !important;
}

.main-section {
  text-align: center;
}

.main-section .heading {
  font: var(--font-montserrat-black);
}

.main-section a {
  display: block;
  margin: 5vh 40vw 0 40vw;
  font: var(--font-titillium-bold);
  border-radius: 25px;
}

.main-section a:hover {
  transition: all 0.5s ease;
  background-color: var(--color-gray-dark);
  filter: drop-shadow(5px 5px 5px var(--color-gray));
}

.main-section svg {
  margin-left: 1rem;
  width: 24px !important;
  height: 24px !important;
}

.navitems {
  position: fixed;
  left: 2vw;
  bottom: 2vh;
}

.navitems .heading {
  cursor: pointer;
  font: var(--font-titillium-regular);
}

.navitems .heading:hover {
  animation: underline-fadein 500ms ease forwards;
}

.navitems .heading:hover::before {
  content: url("../../public/icons/RightArrow.svg");
  margin-right: 1rem;
  animation: fadein 500ms ease;
}

.socialmedia {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes underline-fadein {
  from {
    text-decoration: underline 3px rgba(151, 182, 31, 0);
  }
  to {
    text-decoration: underline 3px rgba(151, 182, 31, 1);
  }
}

@media only screen and (width <= 900px) {
  .main {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .main .main-section {
    grid-area: 1 / 1 / 2 / 3;
  }

  .main .navitems {
    grid-area: 2 / 1 / 3 / 2;
  }

  .main .socialmedia {
    grid-area: 2 / 2 / 3 / 3;
  }

  .main-section a {
    margin: 3vw 0 0 0;
    padding: 0;
    font-size: 1.5rem;
  }

  .main .heading,
  .main h3,
  .main span {
    font-size: 2rem;
  }
  .main .main-section .heading,
  .main .main-section span {
    font-size: 2.3rem;
  }
  .main button {
    font-size: 1.75rem;
  }
}
