.jobs {
  margin: 10vh 0 0 0;
  padding: 0 2vw 0 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
}

@media only screen and (width <= 900px) {
  .jobs {
    padding: 0 1vw 0 1vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
