.card {
  padding: 1rem;
}

.card h1,
.card h2,
.card h3 {
  margin: 0;
  padding: 0;
}

.card h1 {
  color: var(--color-green);
  font: var(--font-montserrat-bold);
  text-align: center;
  margin-bottom: 1vw;
}

.card h2 {
  font: var(--font-titillium-bold);
  font-size: 1.75rem;
}

.card h3 {
  font: var(--font-titillium-bold-italic);
  font-size: 1.75rem;
  color: var(--color-gray);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.card small {
  text-align: center;
}

.card ul {
  list-style-type: square;
}

.card li {
  font: var(--font-titillium-regular);
  font-size: 1.25rem;
}

@media only screen and (width <= 900px) {
  .card * {
    font-size: 1rem !important;
  }
}
