.techstack button, .techstack span {
  font: var(--font-titillium-regular);
  border: none;
  border-radius: 5px;
  outline: none;
}

.techstack button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  min-width: 7rem;
  height: 2rem;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 0.75rem;
  color: var(--color-gray-light);
  background-color: var(--color-gray-dark);
  transition: all 0.3s ease;
}

.techstack button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.techstack button:hover:after {
  opacity: 1;
  right: 10px;
}

.techstack button:after {
  content: url("../../../public/icons/RightArrow.svg");
  position: absolute;
  opacity: 0;
  top: 25%;
  right: -20px;
  transition: 0.4s;
}

.techstack p {
  font: var(--font-titillium-regular);
  font-size: 1.25rem;
}

.techstack p::before {
  content: "» ";
  color: var(--color-green);
}

.techstack span {
  display: block;
  width: 100%;
  margin: 0.25rem;
  padding-left: 1rem; 
  font-size: 1rem;
  text-align: left;
  color: var(--color-green);
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}